<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="ConsoleAppender"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p %d{ISO8601} %c{1}::%M:%L] %m%n" />
		</layout>
	</appender>

	<appender name="FileAppender"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/tmp/gsim.log" />
		<param name="MaxFileSize" value="500KB" />
		<param name="MaxBackupIndex" value="1" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p %d{ISO8601} %c{1}::%M:%L] %m\n" />
		</layout>
	</appender>

	<category
		name="gsim"
		additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ConsoleAppender" />
	</category>

	<category
		name="gsim.sim.engine.remote"
		additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="EMAIL" />
	</category>

	<category
		name="com.isoco"
		additivity="false">
		<level value="WARN" />
		<appender-ref ref="ConsoleAppender" />
	</category>

	<root>
		<level value="INFO" />
<!--		<appender-ref ref="FileAppender" /> -->
	</root>

</log4j:configuration>
